flows_Bings-MacBook-Pro.local.json
[{"id":"b6f751f5.0dd91","type":"tab","label":"流程1","disabled":true,"info":""},{"id":"676d525e.af203c","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"5c508ea3.1ed58","type":"ui_tab","z":"","name":"机械臂控制","icon":"dashboard","order":2},{"id":"49145554.adde4c","type":"ui_group","z":"","name":"关节1","tab":"5c508ea3.1ed58","order":2,"disp":true,"width":"6","collapse":false},{"id":"a9303c42.13b36","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"72518542.c05edc","type":"websocket-client","z":"","path":"ws://127.0.0.1:8080","tls":"","wholemsg":"false"},{"id":"6cf75f0.4795aa","type":"mqtt-broker","z":"","name":"","broker":"115.159.98.171","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4a2eeeb.c4672","type":"ui_group","z":"","name":"关节2","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"4540552e.ae27cc","type":"ui_group","z":"","name":"关节3","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"e49e3aaf.64e218","type":"ui_group","z":"","name":"关节4","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"4b835653.90e948","type":"ui_group","z":"","name":"关节5","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"a79bc632.5b6888","type":"ui_group","z":"","name":"关节6","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"1c843c0b.8be474","type":"ui_group","z":"","name":"吸盘","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"14579785.a28838","type":"ui_group","z":"","name":"状态","tab":"5c508ea3.1ed58","disp":true,"width":"6","collapse":false},{"id":"8e992255.83811","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"b7d7b29.b948a5","type":"ui_group","z":"","name":"IoT Demo","tab":"8e992255.83811","disp":true,"width":"6","collapse":false},{"id":"263b88c9.229538","type":"websocket-listener","z":"","path":"/ws/python","wholemsg":"false"},{"id":"9cb2b991.5dc428","type":"arm","z":"b6f751f5.0dd91","joint1":"90","joint2":"100","joint3":"100","joint4":"87","joint5":"117","joint6":"43","pump":"false","name":"初始状态","x":378.5,"y":523,"wires":[["bea0b04e.5af07","18098d30.f395a3"]]},{"id":"9118bcb8.b6c28","type":"inject","z":"b6f751f5.0dd91","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":179.5,"y":871,"wires":[["32a0a8cd.2e6c88"]]},{"id":"f2797e2.f04c18","type":"joint","z":"b6f751f5.0dd91","i":0,"name":"","x":575.5,"y":104,"wires":[]},{"id":"67a21637.2a60a8","type":"ui_slider","z":"b6f751f5.0dd91","name":"","label":"关节1控制","group":"49145554.adde4c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"160","step":1,"x":252.5,"y":105,"wires":[["f2797e2.f04c18","37da6ad4.684e86"]]},{"id":"6bb26f9.6cf439","type":"joint","z":"b6f751f5.0dd91","i":"1","name":"","x":575,"y":153,"wires":[]},{"id":"e0b25311.d38fd","type":"ui_slider","z":"b6f751f5.0dd91","name":"","label":"关节2控制","group":"a4a2eeeb.c4672","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"160","step":1,"x":247,"y":152,"wires":[["6bb26f9.6cf439","5bc7881.a166378"]]},{"id":"7b5e714a.e4d33","type":"joint","z":"b6f751f5.0dd91","i":"2","x":573,"y":199,"wires":[]},{"id":"f5c4f14c.b87a9","type":"ui_slider","z":"b6f751f5.0dd91","name":"","label":"关节3控制","group":"4540552e.ae27cc","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"160","step":1,"x":255,"y":197,"wires":[["7b5e714a.e4d33","2e9bd932.9079f6"]]},{"id":"a6c6ada.aed7e5","type":"joint","z":"b6f751f5.0dd91","i":"3","x":574,"y":245,"wires":[]},{"id":"9863dc8e.ecdff","type":"ui_slider","z":"b6f751f5.0dd91","name":"","label":"关节4控制","group":"e49e3aaf.64e218","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"160","step":1,"x":255,"y":244,"wires":[["a6c6ada.aed7e5","ca46052d.88da58"]]},{"id":"c3aed444.2fe458","type":"joint","z":"b6f751f5.0dd91","i":"4","x":568,"y":293,"wires":[]},{"id":"18a8c962.d96d27","type":"ui_slider","z":"b6f751f5.0dd91","name":"","label":"关节5控制","group":"4b835653.90e948","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"160","step":1,"x":249,"y":298,"wires":[["c3aed444.2fe458","76da1856.bce238"]]},{"id":"65bef185.fe537","type":"joint","z":"b6f751f5.0dd91","i":"5","x":570,"y":344,"wires":[]},{"id":"fd8456c.4b9d3a8","type":"ui_slider","z":"b6f751f5.0dd91","name":"","label":"关节6控制","group":"a79bc632.5b6888","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"20","max":"160","step":1,"x":251,"y":344,"wires":[["32419624.f1fc7a","65bef185.fe537"]]},{"id":"b4a51601.038968","type":"pump","z":"b6f751f5.0dd91","x":569.5,"y":392,"wires":[]},{"id":"a5342c0.b14cbd8","type":"ui_switch","z":"b6f751f5.0dd91","name":"","label":"pump","group":"1c843c0b.8be474","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":232.5,"y":391,"wires":[["b4a51601.038968"]]},{"id":"37da6ad4.684e86","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节1","group":"49145554.adde4c","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":403,"y":80,"wires":[[]]},{"id":"11461587.57e91a","type":"arm","z":"b6f751f5.0dd91","joint1":"90","joint2":"94","joint3":"134","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"抓取状态","x":381,"y":609,"wires":[["3bfc279f.001218"]]},{"id":"c4469dd1.28291","type":"arm","z":"b6f751f5.0dd91","joint1":"90","joint2":"94","joint3":"117","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"拿起状态","x":379,"y":691,"wires":[["8cd22415.6f53b8"]]},{"id":"32a0a8cd.2e6c88","type":"arm","z":"b6f751f5.0dd91","joint1":"157","joint2":"94","joint3":"117","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"移动状态","x":375,"y":765,"wires":[["deea8344.d6b2b"]]},{"id":"c798559d.2a4ac8","type":"arm","z":"b6f751f5.0dd91","joint1":"157","joint2":"94","joint3":"135","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"放下状态","x":369,"y":841,"wires":[["870d6809.0c4578"]]},{"id":"f508ecc.e358e1","type":"arm","z":"b6f751f5.0dd91","joint1":"157","joint2":"94","joint3":"120","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"移动状态","x":361,"y":1012,"wires":[["39eba9c9.48fd56"]]},{"id":"18098d30.f395a3","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380.5,"y":567,"wires":[["11461587.57e91a"]]},{"id":"3bfc279f.001218","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":343.5,"y":654,"wires":[["c4469dd1.28291"]]},{"id":"8cd22415.6f53b8","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":346.5,"y":729,"wires":[["32a0a8cd.2e6c88"]]},{"id":"deea8344.d6b2b","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":355.5,"y":803,"wires":[["c798559d.2a4ac8"]]},{"id":"a3c9c22c.4b817","type":"arm","z":"b6f751f5.0dd91","joint1":"157","joint2":"94","joint3":"135","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"放下状态","x":357,"y":1086,"wires":[["e64a8d78.ebf26"]]},{"id":"fa4e918c.80838","type":"arm","z":"b6f751f5.0dd91","joint1":"157","joint2":"94","joint3":"117","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"移动状态","x":365,"y":1169,"wires":[["d3d9663b.4d8288"]]},{"id":"27924ed1.2d3922","type":"arm","z":"b6f751f5.0dd91","joint1":"90","joint2":"94","joint3":"117","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"拿起状态","x":365,"y":1233,"wires":[["f738740e.8941b8"]]},{"id":"2a7419fc.1b1db6","type":"arm","z":"b6f751f5.0dd91","joint1":"90","joint2":"94","joint3":"135","joint4":"87","joint5":"117","joint6":"43","pump":"true","name":"抓取状态","x":357,"y":1306,"wires":[["dfb1719c.f1a3f"]]},{"id":"f1747fb6.58373","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":372,"y":958,"wires":[["f508ecc.e358e1"]]},{"id":"39eba9c9.48fd56","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":357,"y":1051,"wires":[["a3c9c22c.4b817"]]},{"id":"e64a8d78.ebf26","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":362,"y":1124,"wires":[["fa4e918c.80838"]]},{"id":"d3d9663b.4d8288","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":365,"y":1206,"wires":[["27924ed1.2d3922"]]},{"id":"f738740e.8941b8","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369,"y":1275,"wires":[["2a7419fc.1b1db6"]]},{"id":"dfb1719c.f1a3f","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364,"y":1340,"wires":[["8636d9c4.bc79b8"]]},{"id":"8636d9c4.bc79b8","type":"arm","z":"b6f751f5.0dd91","joint1":"90","joint2":"94","joint3":"135","joint4":"87","joint5":"117","joint6":"43","pump":"false","name":"抓取状态","x":377,"y":1388,"wires":[[]]},{"id":"bea0b04e.5af07","type":"debug","z":"b6f751f5.0dd91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":576.5,"y":499,"wires":[]},{"id":"f9c80bfd.a98ed8","type":"easy","z":"b6f751f5.0dd91","name":"","graphic":"TWEEN.Easing.Quadratic.Out","x":640.5,"y":1527,"wires":[["6847aa9c.e787d4"]]},{"id":"bf48c9a4.abc678","type":"inject","z":"b6f751f5.0dd91","name":"","topic":"","payload":"{\"oldValue\":{\"x\":0,\"y\":0},\"newValue\":{\"x\":100,\"y\":100},\"duration\":1000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":345.5,"y":1536,"wires":[["51a4221c.6bcb6c"]]},{"id":"51a4221c.6bcb6c","type":"json","z":"b6f751f5.0dd91","name":"","property":"payload","action":"obj","pretty":false,"x":494.5,"y":1532,"wires":[["f9c80bfd.a98ed8"]]},{"id":"fb042e8.16830d","type":"file","z":"b6f751f5.0dd91","name":"","filename":"1.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":966.5000381469727,"y":1448.9999885559082,"wires":[[]]},{"id":"6847aa9c.e787d4","type":"function","z":"b6f751f5.0dd91","name":"","func":"msg.payload = msg.payload.x;\nreturn msg;","outputs":1,"noerr":0,"x":800.5,"y":1500,"wires":[["fb042e8.16830d","c7e14356.f0a95","dcabde7a.2064d"]]},{"id":"c7e14356.f0a95","type":"debug","z":"b6f751f5.0dd91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":987.5000152587891,"y":1543.9999408721924,"wires":[]},{"id":"281dc66a.dae6ca","type":"sensor","z":"b6f751f5.0dd91","i":0,"name":"关节1传感器","x":726.5,"y":102,"wires":[["e8594dc0.00c4d"]]},{"id":"e8594dc0.00c4d","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节1传感器","group":"49145554.adde4c","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":919,"y":102,"wires":[[]]},{"id":"5bc7881.a166378","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节2","group":"a4a2eeeb.c4672","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":404,"y":128,"wires":[[]]},{"id":"8d9a5ce0.ce358","type":"sensor","z":"b6f751f5.0dd91","i":"1","name":"关节2传感器","x":725,"y":153,"wires":[["4f7e6493.330acc"]]},{"id":"4f7e6493.330acc","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节2传感器","group":"a4a2eeeb.c4672","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":919.5,"y":152,"wires":[[]]},{"id":"ce70ff2b.c9c6","type":"sensor","z":"b6f751f5.0dd91","i":"2","name":"关节3传感器","x":725,"y":201,"wires":[["df23d8bd.0c4b98"]]},{"id":"df23d8bd.0c4b98","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节3传感器","group":"4540552e.ae27cc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":917.5,"y":200,"wires":[[]]},{"id":"8a7fa10c.5291b","type":"sensor","z":"b6f751f5.0dd91","i":"3","name":"关节4传感器","x":726,"y":246,"wires":[["7d1a7a32.0db5b4"]]},{"id":"7d1a7a32.0db5b4","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节4传感器","group":"e49e3aaf.64e218","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":917.5,"y":245,"wires":[[]]},{"id":"ef33ee08.5193a","type":"sensor","z":"b6f751f5.0dd91","i":"4","name":"关节5传感器","x":724,"y":295,"wires":[["a3efa7de.af18d8"]]},{"id":"a3efa7de.af18d8","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节5传感器","group":"4b835653.90e948","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":915.5,"y":294,"wires":[[]]},{"id":"33a56500.afd90c","type":"sensor","z":"b6f751f5.0dd91","i":"5","name":"关节6传感器","x":725,"y":341,"wires":[["c3c67d54.3063f"]]},{"id":"c3c67d54.3063f","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节6传感器","group":"a79bc632.5b6888","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":916.5,"y":340,"wires":[[]]},{"id":"2e9bd932.9079f6","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节3","group":"4540552e.ae27cc","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":396,"y":182,"wires":[[]]},{"id":"ca46052d.88da58","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节4","group":"e49e3aaf.64e218","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":402,"y":228,"wires":[[]]},{"id":"76da1856.bce238","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节5","group":"4b835653.90e948","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":401,"y":277,"wires":[[]]},{"id":"32419624.f1fc7a","type":"ui_numeric","z":"b6f751f5.0dd91","name":"","label":"关节6","group":"a79bc632.5b6888","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":402,"y":324,"wires":[[]]},{"id":"c63a1b45.54a558","type":"ui_button","z":"b6f751f5.0dd91","name":"","group":"14579785.a28838","order":0,"width":0,"height":0,"passthru":false,"label":"循环控制","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":207.5,"y":475,"wires":[["9cb2b991.5dc428"]]},{"id":"92ceec67.382f8","type":"arm","z":"b6f751f5.0dd91","joint1":"157","joint2":"94","joint3":"135","joint4":"87","joint5":"117","joint6":"43","pump":"false","name":"放下状态","x":362,"y":905,"wires":[["f1747fb6.58373"]]},{"id":"870d6809.0c4578","type":"delay","z":"b6f751f5.0dd91","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":376,"y":878,"wires":[["92ceec67.382f8"]]},{"id":"3d3915e1.f585fa","type":"join","z":"b6f751f5.0dd91","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":472.1534080505371,"y":1833.7925472259521,"wires":[["fababc3d.4b32f"]]},{"id":"19b787ed.2821b8","type":"inject","z":"b6f751f5.0dd91","name":"","topic":"1","payload":"1","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250.65058135986328,"y":1755.914849281311,"wires":[["3d3915e1.f585fa"]]},{"id":"f9918c77.56fa1","type":"inject","z":"b6f751f5.0dd91","name":"","topic":"2","payload":"2","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250.65057373046875,"y":1928.914794921875,"wires":[["3d3915e1.f585fa"]]},{"id":"fababc3d.4b32f","type":"debug","z":"b6f751f5.0dd91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":709.153377532959,"y":1824.7073440551758,"wires":[]},{"id":"dcabde7a.2064d","type":"joint","z":"b6f751f5.0dd91","i":0,"name":"","x":950.3778686523438,"y":1354.8238525390625,"wires":[]},{"id":"8e706a3b.263c18","type":"websocket in","z":"676d525e.af203c","name":"","server":"263b88c9.229538","client":"","x":273.5142059326172,"y":175.9715805053711,"wires":[["4bed3f68.fda7"]]},{"id":"4bed3f68.fda7","type":"debug","z":"676d525e.af203c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":567.5198822021484,"y":228.79828643798828,"wires":[]}]